/*Fonts*/
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia.ttf');
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.ttf');
}

/*Variables*/
:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --text-grey: #cdcdcd;
  --text-dark: #292929;
  --text-medium-dark: #545454;
  --bg-color: #f6f6f6;
}
/*Common styles*/
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  font-size: 15px;
}
body.locked {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  color: var(--text-medium-dark);
}
.content {
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
}
.link {
  text-decoration: none;
  color: var(--text-medium-dark);
  transition: 0.3s ease;
  cursor: pointer;
}
.title {
  font-family: 'Georgia', serif;
  font-weight: normal;
  font-size: 35px;
  line-height: 45.5px;
  color: var(--text-medium-dark);
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  letter-spacing: 0.06em;
}
.anchor {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 52px;
  font-family: 'Georgia', serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 22.1px;
  color: var(--text-dark);
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

@media (max-width: 1279px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .content {
    padding: 0 10px;
  }
  .title {
    font-size: 25px;
    line-height: 130%;
  }
}

/*Header styles*/
.header {
  left: 0;
  top: 0;
  /* z-index: 9; */
  background-color: #ffffff;
}
.header__content {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  z-index: 9;
}
.logo__title {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--text-medium-dark);
  text-transform: capitalize;
}
.logo__subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: var(--text-dark);
  line-height: 15px;
  padding: 10px 4px;
  letter-spacing: 0.1em;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 36px;
}
.nav__item {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: var(--text-medium-dark);
}
.nav-link.active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--text-dark);
  padding-bottom: 4px;
}
.nav-link:hover {
  color: var(--text-dark);
}
.nav__icon {
  display: none;
}
.nav-mobile {
  display: none;
}
.mask__layout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #292929;
  opacity: 0;
  z-index: 8;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
}
.mask__layout.active {
  opacity: 0.6;
  visibility: visible;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-right: 43px;
    z-index: 9;
    transition: 0.3s ease;
  }
  .nav__icon.active {
    transform: rotate(90deg);
  }
  .nav__icon span,
  .nav__icon::before,
  .nav__icon::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000000;
  }
  .nav__icon::before,
  .nav__icon::after {
    content: '';
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon span {
    top: 10px;
  }

  .header__nav-mobile {
    transform: translateX(110%);
    opacity: 0;
  }
  .header__nav-mobile.active {
    transform: translateX(0%);
    opacity: 1;
  }
  .nav-mobile {
    display: block;
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: #ffffff;
    transition: 0.3s ease;
  }
  .logo-alternative {
    margin-top: 30px;
    margin-left: 10px;
  }
  .logo__title-alternative {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: var(--text-medium-dark);
    text-transform: capitalize;
    text-align: left;
  }
  .logo__subtitle {
    padding-left: 4px;
    text-align: left;
  }
  .nav__list-mobile {
    position: relative;
    top: 250px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .nav-link-mobile {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 32px;
    line-height: 160%;
    color: #545454;
  }
  .nav-link-mobile.active {
    padding-bottom: 5px;
    color: #292929;
    border-bottom: 3px solid #f1cdb3;
  }
  .nav-link-mobile:hover {
    color: var(--text-dark);
  }
}

/*OurFriends styles*/
.main {
  background-color: var(--bg-color);
  padding-bottom: 100px;
}
.our-friends {
  background-color: var(--bg-color);
}
.friends__content {
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}
.friends-cards__wrapper {
  margin-top: 45px;
  padding: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 40px;
}

.friends-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
}
.friends-card:hover {
  background-color: #fff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.friends-card:hover .card__img-wrapper,
.friends-card:hover .card__name {
  cursor: pointer;
}
.friends-card:hover .card__btn {
  background-color: var(--color-primary-light);
  border: 2px solid transparent;
  cursor: pointer;
}
.card__img-wrapper {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pets__img {
  display: block;
  width: 100%;
}
.card__name {
  padding: 30px 0;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.card__btn {
  width: 187px;
  border: 2px solid var(--color-primary);
  letter-spacing: 0.03em;
}
.card__btn:hover {
  background-color: var(--color-primary-light);
  border: 2px solid transparent;
}
.pets__btn {
  width: 261px;
  margin-top: 60px;
  background-color: var(--color-primary);
  letter-spacing: 0.05em;
}
.pets__btn:hover {
  background-color: var(--color-primary-light);
}
.friends__navigation {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  gap: 20px;
}
.button {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}
.button.inactive {
  border: 2px solid var(--text-grey);
  color: var(--text-grey);
}
.button:hover {
  background-color: var(--color-primary-light);
  border: 2px solid transparent;
}
.button.inactive:hover {
  cursor: auto;
  background-color: transparent;
  border: 2px solid var(--text-grey);
}
.button.current__btn {
  cursor: auto;
  background-color: var(--color-primary);
}
@media (max-width: 1279px) {
  .main {
    padding-bottom: 76px;
  }
  .friends-cards__wrapper {
    margin-top: 15px;
    max-width: 889px;
  }
  .friends-card:nth-child(7),
  .friends-card:nth-child(8) {
    display: none;
  }
  .friends__navigation {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 41px;
  }
  .friends__content {
    padding-top: 162px;
  }
  .friends__content.burger-view {
    padding-top: 42px;
  }
  .friends-cards__wrapper {
    margin-top: 25px;
    max-width: 579px;
  }
  .friends-card:nth-child(4),
  .friends-card:nth-child(5),
  .friends-card:nth-child(6),
  .friends-card:nth-child(7),
  .friends-card:nth-child(8) {
    display: none;
  }
  .friends__navigation {
    gap: 10px;
    margin-top: 27px;
  }
}

/*Footer styles*/
.footer-container {
  max-width: 100%;
  background-image: url('../../assets/images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__content {
  max-width: 1280px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  margin-top: 16px;
  max-width: 279px;
}
.footer-title {
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
  letter-spacing: 0.06em;
}
.contacts__content {
  max-width: 251px;
  margin-bottom: 44px;
}
.contacts__content.phone {
  margin-bottom: 0;
}
.contacts-link {
  display: flex;
  align-items: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: var(--color-primary);
  letter-spacing: 0.06em;
}
.content-img {
  margin-right: 20px;
}
.footer__locations {
  max-width: 302px;
  margin-top: 16px;
}
.locations__content {
  margin-bottom: 33px;
}
.locations__content.london {
  margin-bottom: 0;
}
.footer-title.locations {
  margin-bottom: 30px;
}
.footer-img {
  display: block;
  width: 300px;
  height: 310px;
}
@media (max-width: 1279px) {
  .footer__content {
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px 60px;
  }
  .footer__contacts,
  .footer__locations {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 40px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .footer-title {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 44px;
  }
  .footer__locations {
    margin-top: 0;
  }
  .footer-title.locations {
    margin-bottom: 38px;
  }
  .locations__content {
    margin-bottom: 40px;
  }
  .footer-img {
    width: 260px;
    height: 269px;
  }
}
/*popup*/
.popup {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: #fafafa;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
  transform: translateX(-50%) translateY(-50%);
}
.popup__close-btn {
  position: absolute;
  right: -40px;
  top: -50px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s ease;
}
.popup__close-btn img {
  transform: rotate(45deg);
}
.popup__close-btn:hover {
  border: 2px solid transparent;
  background-color: var(--color-primary-light);
  transition: 0.3s ease;
}
.popup__img {
  width: 500px;
  height: 500px;
  border-radius: 9px 0px 0px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease;
}
.pet__picture {
  display: block;
  width: 100%;
  height: 100%;
}
.popup__info {
  width: 351px;
  margin-left: 29px;
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-family: 'Georgia', serif;
}
.pet__name {
  font-size: 35px;
  line-height: 1.3;
  font-family: 'Georgia', serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--text-medium-dark);
  color: black;
  margin-bottom: 10px;
}
.pet__type,
.pet__breed {
  font-size: 20px;
  line-height: 23px;
}
.popup__about {
  font-size: 15px;
  line-height: 110%;
}
.popup__characteristics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.characteristic {
  font-weight: bold;
  position: relative;
  margin-left: 20px;
}
.characteristic::before {
  color: var(--color-primary);
  content: 'â—';
  position: absolute;
  top: 0px;
  left: -20px;
}
.characteristic > .age,
.characteristic > .inoculations,
.characteristic > .diseases,
.characteristic > .parasites {
  font-weight: normal;
}
@media (max-width: 1279px) {
  .popup {
    width: 630px;
    height: auto;
    min-height: 350px;
  }
  .popup__img {
    width: 350px;
    height: 350px;
  }
  .popup__info {
    width: 249px;
    margin-top: 10px;
    margin-left: 11px;
    row-gap: 20px;
  }
  .popup__about {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .popup {
    width: 240px;
  }
  .popup__img {
    display: none;
  }
  .popup__info {
    margin: 10px;
  }
  .popup__info-kind {
    text-align: center;
  }
}
